.text{
    font-size: 20px;
    text-align: center;
}

.but{
    margin-top: 20px;
    border: 2px solid #01588a;
    background: #01588a;
    color: #FFF;
    box-shadow: inset 0 0 6px 4px #FFF;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}