@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.wrap {
    max-width: 1050px;
    min-width: 414px;
    margin: 0 auto;
}

/* top */
.top {
    background: #f3f3f3;
    padding-bottom: 120px;
}

.top__block--left {
    margin: 0;
    color: rgb(37, 43, 66);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 36px 0;
}

.top__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__block--right {
    margin: 0;
    display: flex;
    list-style: none;
}

.top__block--right li {
    margin-left: 21px;
}

.top__block--right a {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.top__block--h1 {
    color: rgb(37, 43, 66);
    font-family: Montserrat;
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 40px 0 40px 0;
}

.top__block--h4 {
    color: rgb(115, 115, 115);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 40px 0 40px 0;
}

.top__btn{
    margin-top: 40px;    
    text-align: center;
}
.top__btn--left{
    background: #FFA62B;
    border-radius: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding: 10px 36px;
    box-sizing: border-box;
    margin-right: 5px;
    text-decoration: none;
}
.top__btn--right{
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #00A0C1;
    border: 1px solid #00A0C1;
    border-radius: 37px;
    padding: 10px 36px;
    box-sizing: border-box;
    margin-left: 5px;
    text-decoration: none;
}

/* choose */
.choose {
    padding: 145px 0 100px;
}

.choose h2 {
    color: rgb(37, 43, 66);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 10px;
}

.choose__title--text {
    color: rgb(115, 115, 115);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 45px;
}

.choose__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.choose__element {
    flex-basis: 328px;
    box-sizing: border-box;
    border: 1px solid rgb(232, 232, 232);
    background: rgb(255, 255, 255);
    padding: 35px 40px;
    margin-bottom: 30px;
}

.choose__title {
    display: flex;
    align-items: center;
}

.choose__title h5 {
    color: rgb(37, 43, 66);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0 0 0 15px;
}

.choose__title p {
    color: rgb(115, 115, 115);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 0;
}

/* team */

.team {
    /* border-top: 1px solid grey; */
    /*удалить потом*/
    padding: 80px 0 50px;
}

.team h2 {
    color: rgb(37, 43, 66);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 10px;
}

.team p {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0 0 80px;
}

.team__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team__element {
    box-sizing: border-box;
    border: 1px solid rgb(238, 238, 238);
    background: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 30px;
}

.team__element h5 {
    color: rgb(37, 43, 66);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 30px 0 5px;
}

.team__element h6 {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0 0 5px;
}

.team__element div img {
    margin: 0 7.5px 30px;
}

.team__element>img {
    width: 100%;
}

/* contact */

.contact {
    padding: 90px 0;
    background: url(images/b_5_fon.jpg) center #EFEFEF;
    background-size: cover;
}

.contact h5 {
    color: rgb(37, 43, 66);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0;
}

.contact h2 {
    color: rgb(37, 43, 66);
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin: 0 0 40px;
}

form {
    max-width: 620px;
    display: flex;
    flex-wrap: wrap;
}

input,
select {
    flex-basis: 290px;
    margin-bottom: 20px;
    margin-right: 20px;
}

textarea {
    flex-basis: 100%;
    margin-right: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    /* muted-color */
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    background: rgb(249, 249, 249);
    color: rgb(189, 189, 189);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    height: 140px;
    margin-top: 40px;
}

input {
    box-sizing: border-box;
    /* muted-color */
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    background: rgb(249, 249, 249);
    color: rgb(189, 189, 189);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 12px 20px;
}

select {
    box-sizing: border-box;
    /* muted-color */
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    background: rgb(249, 249, 249);
    color: rgb(189, 189, 189);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 12px 20px;
}

button {
    border-radius: 5px;
    /* primary-color */
    background: rgb(255, 166, 43);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
}

/* clients */
.clients {
    background: #f3f3f3;
}

.clients h2 {
    color: rgb(37, 43, 66);
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
}

.clients p {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
}

.clients__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clients__element {
    flex-basis: 328px;
    box-sizing: border-box;
    border: 1px solid rgb(232, 232, 232);
    background: rgb(255, 255, 255);
    padding: 35px 40px;
    margin-bottom: 30px;
}

.clients_rating h6 {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
}

.clients__name {
    display: flex;
    align-items: center;
}

.clients__info p {
    color: rgb(255, 166, 43);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.clients__info h6 {
    color: rgb(37, 43, 66);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.clients__info {
    margin: 0 0 0 20px;
}

/* consulting */

.consulting__text h3 {
    color: rgb(37, 43, 66);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: left;
}

.consulting__text p {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
}

.consulting__button {
    border-radius: 5px;
    /* primary-color */
    background: rgb(255, 166, 43);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
}

.consulting {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* footer */
footer {
    background: rgb(37, 43, 66);
}

.end__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 40px 0 0 0; */
    align-items: center;
}

.end__block h3 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: left;
    padding: 40px 0 40px 0;
}
.end__block div img {
    width: 23px;
    margin: 0 7.5px 0 ;
}

