@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.wrap {
    max-width: 1050px;
    min-width: 414px;
    margin: 0 auto;
}

/* top */
.top {
    background: #f3f3f3;
}

.top__block--left {
    margin: 0;
    color: rgb(37, 43, 66);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 36px 0;
}

.top__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top__block--right {
    margin: 0;
    display: flex;
    list-style: none;
}

.top__block--right li {
    margin-left: 21px;
}

.top__block--right a {
    color: rgb(115, 115, 115);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.top__block--h1 {
    color: rgb(37, 43, 66);
    font-family: Montserrat;
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 40px 0 40px 0;
}

.top__block--h4 {
    color: rgb(115, 115, 115);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    padding: 40px 0 40px 0;
}

.top__block--left_button {
    border-radius: 37px;
    background: rgb(255, 166, 43);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
}

.top__block--right_button {
    box-sizing: border-box;
    border: 1px solid rgb(0, 160, 193);
    border-radius: 37px;
    color: rgb(0, 160, 193);
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
}
.top__block--buttons{
    margin: 40px 0 40px 0;
    text-align: center;
}