*{
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00ccff;
}

.main{
  width: 420px;
  margin-top: 200px;
  background: #FFF;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 0 30px 6px #01588a;
}