@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background: #ccccff;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.element, .count {
    background: lightyellow;
    border: 6px solid #FFF;
    margin: 20px 0;
}

.text {
    width: 360px;
    padding: 20px;
    box-sizing: border-box;
}

.block img{
    max-width: 360px;
}

.content h1 {
    text-align: center;
    margin: 60px 0 40px;
    font-size: 36px;
}

.img + h2, .text + h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}

.img {
    text-align: center;
    margin-bottom: 60px;
}

.img img {
    border: 6px solid #FFF;
}